[submodule ".registry"]
	path = .registry
	url = https://github.com/pglpm/pglpm.r-universe.dev
	branch = HEAD
[submodule "Pinference"]
	path = Pinference
	url = https://github.com/pglpm/Pinference
[submodule "prova"]
	path = prova
	url = https://github.com/pglpm/prova
